<section id="{{{hash}}}" class="box box-attribute">
    <h1 class="fw-300">
        {{#if static}}
            {{ parent.name }}.{{name}}
        {{else}}
            .{{name}}
        {{/if}}
        {{#if defaultValue }}
            <span class="defaultValue">= {{ defaultValue }}</span>
        {{ else }}
            <i>attribute</i>
        {{/if}}
    </h1>
    {{#if deprecated}}
        <span class="tag">deprecated</span>
    {{/if}}
    {{#if type}}
        <pre>{{type}}</pre>
    {{/if}}
    {{#if text}}
        <p class="text">{{{stripP text}}}</p>
    {{/if}}
    {{#if description}}
        <span class="description">{{{description}}}</span>
    {{/if}}
</section>
