<div class="box box-attribute">

     <h2><a name="{{{hash}}}">
    {{#ifvalue parent.kind value="class"}}
       {{parent.name}}.{{name}}
    {{else}}
        {{name}}
    {{/ifvalue}}
    <i>attribute</i></a></h2>

    {{#if deprecated}}
        <span class="tag">deprecated</span>
    {{/if}}

    {{#if text}}
        <p class="text">{{{text}}}</p>
    {{/if}}

    {{#if type}}
        <pre>{{type}}</pre>
    {{/if}}

    <label>{{name}}</label>

    {{#if description}}
        <span class="description">{{{description}}}</span>
    {{/if}}

</div>
