    {{~#if text~}}
    <p>{{~{text}~}}</p>
    {{~/if}}
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="{{site.url}}/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>
    {{~#if functions.length~}}
    <table class="props bottom-space">
        {{~#if isNamespace~}}
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>
        {{else}}
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        {{/if}}
        <tbody>
        {{~#each functions}}
            <tr>
                <td><a href="#{{{hash}}}">
                        {{~#if isConstructor~}}
                            <em>(constructor)</em>
                        {{~else~}}
                            .{{~name~}}
                        {{~/if~}}
                    </a></td>
                <td>
                    {{~#if deprecated~}}
                        <span class="tag">deprecated</span>
                    {{~/if~}}
                    {{~#if text ~}}{{~{stripP text}~}}{{~/if~}}
                    {{~#if type~}}
                        <pre>{{type}}</pre>
                    {{~/if~}}
                    {{~#if description}}{{~{stripP description}~}}{{~/if~}}
                </td>
            </tr>
        {{~/each~}}
        </tbody>
    </table>
    {{/if}}
    {{~#if attributes.length}}
    <table class="props">
        <caption>Properties</caption>
        <thead>
            <tr>
                <th>Property name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each attributes}}
            <tr>
                <td><a href="#{{{hash}}}">.{{name}}</a></td>
                <td>
                    {{~#if deprecated}}
                        <span class="tag">deprecated</span>
                    {{/if}}
                    {{~#if text}}
                        {{{text}}}
                    {{/if}}
                    {{~#if type}}
                        <span class="ink-label orange uppercase">{{type}}</span>
                    {{/if}}
                    {{~#if description}}
                        <span class="description">{{{description}}}</span>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</section>
{{!--{{{> examples}}}--}}
{{> samples}}
{{#each functions}}
    {{> function}}
{{/each}}
{{#each attributes}}
    {{> attribute}}
{{/each}}
