    <h2 class="fw-300 class-name">
        {{#if static}}
            {{~name}} <i>namespace</i>
        {{ else }}
            {{~name}} <i>class</i>
        {{/if}}
    </h2>
    {{~#if text~}}
    {{~{text}~}}
    {{~/if}}
    {{~#if functions.length~}}
    <table class="props bottom-space">
        {{~#if isNamespace~}}
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>
        {{else}}
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        {{/if}}
        <tbody>
        {{~#each functions}}
            <tr>
                <td>
                    <a href="#{{{hash}}}">
                        {{~#if isConstructor~}}
                            new {{name~}}{{>shortparams}}
                        {{~else~}}
                            .{{~name~}}{{>shortparams}}
                        {{~/if~}}
                    </a>
                </td>
                <td>{{~#if deprecated~}}
                    <span class="ink-label red">deprecated</span>  
                    {{~/if~}}
                    {{~#if text }} {{{firstP text}~}}{{~/if~}}
                    {{~#if type~}}{{#each type}}<span class="label {{toLowerCase this}}"></span>{{/each}}{{~/if~}}

                    {{~#if description~}} {{{stripP description}~}}{{~/if~}}
                    {{~#if isConstructor~}}
                        <span class="ink-label green">Constructor</span>
                    {{~/if~}}
                </td>
            </tr>
        {{~/each~}}
        </tbody>
    </table>
    {{/if}}
    {{~#if attributes.length}}
    <table class="props">
        <caption>Properties</caption>
        <thead>
            <tr>
                <th>Property name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each attributes}}
            <tr>
                <td><a href="#{{{hash}}}">.{{name}}</a></td>
                <td>
                    {{~#if deprecated}}
                        <span class="tag">deprecated</span>
                    {{/if}}
                    {{~#if text}}
                        {{~{firstP text}~}}
                    {{/if}}
                    {{~#if type~}}{{#each type}}<span class="label {{toLowerCase this}}"></span>{{/each}}{{~/if~}}

                    {{~#if description}}
                        <span class="description">{{~{stripP description}~}}</span>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</section>
{{!--{{{> examples}}}--}}
{{> samples}}
{{#each functions}}
    {{> function}}
{{/each}}
{{#each attributes}}
    {{> attribute}}
{{/each}}
