<section id="{{{hash}}}" class="box box-function">
    <h1 class="fw-300">
    {{~#if isConstructor~}}
        {{~parent.name~}}
    {{~else~}}
        {{~#ifvalue parent.kind value="class"~}}
            .{{~name~}}
        {{~else~}}
            .{{~name~}}
        {{~/ifvalue~}}
    {{~/if~}}
    ({{#foreach params}}{{#if isFirstLevel}}{{#if isOptional}}[{{/if}}{{name}}{{#if isOptional}}]{{/if}}{{#unless $last}}, {{/unless}}{{/if}}{{/foreach}}) 
    {{#if isConstructor~}}
        <i>constructor</i>
    {{~else~}}
        {{~#ifvalue parent.kind value="class"~}}
            <i>method</i>
        {{~else~}}
            <i>function</i>
        {{~/ifvalue~}}
    {{~/if~}}
    </h1>
    {{~#if params}}
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        {{~#foreach params}}
        {{~#if isFirstLevel~}}
        <li class="prop">
        {{~#if isOptional~}}[{{~/if~}}
        {{~name~}}
        {{~#if isOptional~}}]{{~/if~}}
        </li>
        {{~/if~}}
        {{~/foreach}}
    </ul>
    {{~/if}}

    {{~#if async~}}
        <span class="tag">async</span>
    {{~/if~}}
    {{~#if deprecated~}}
        <span class="tag">deprecated</span>
    {{~/if~}}

    {{~#if text~}}
        <p class="text">{{{stripP text}}}</p>
    {{~/if~}}

    {{~#if params.length}}
        <h3>Accepts</h3>
        <dl class="params">
        {{~#each params}}
            <dt class="level{{~countLevel name~}}">
                 {{~#if isOptional~}}
                <label class="monospace">[{{~name}}]
                {{else~}}
                <label class="monospace">{{~name}} 
                {{~/if}}
            </dt>
            <dd class="level{{~countLevel name~}}">
               {{~#if type~}}
                    <span class="ink-label orange">{{type}}</span>
                {{~/if~}}
                {{#if defaultValue~}}
                    {{~defaultValue~}}
                {{~/if~}}
                </label>
                {{#if description~}}
                    {{~{description}~}}
                {{~/if~}}
            </dd>
        {{~/each}}
        </dl>
    {{~/if~}}
    {{~#if return}}
    <h3>Returns</h3>
    <dl>
        <dt class="return">
            {{~#if return.type}}<code>{{~return.type~}}</code>{{~/if~}}
        </dt>
        <dd>
            {{~#if return.description~}}
                {{~{return.description}~}}
            {{~/if}}
        </dd>
    </dl>
    {{/if~}}

    {{~> examples~}}
    {{~> samples~}}
</section>