<div class="box box-function">

    <h2><a name="{{{hash}}}">
    {{#if isConstructor}}
        {{parent.name}}
    {{else}}
        {{#ifvalue parent.kind value="class"}}
            {{parent.name}}.{{name}}
        {{else}}
            {{parent.name}}.{{name}}
        {{/ifvalue}}
    {{/if}}
    ({{#foreach params}}{{#if isFirstLevel}}{{#if isOptional}}[{{/if}}{{name}}{{#if isOptional}}]{{/if}}{{#unless $last}}, {{/unless}}{{/if}}{{/foreach}})
    {{#if isConstructor}}
        <i>constructor</i>
    {{else}}
        {{#ifvalue parent.kind value="class"}}
            <i>method</i>
        {{else}}
            <i>function</i>
        {{/ifvalue}}
    {{/if}}
    </a></h2>

    {{#if async}}
        <span class="tag">async</span>
    {{/if}}
    {{#if deprecated}}
        <span class="tag">deprecated</span>
    {{/if}}

    {{#if params.length}}
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        {{#each params}}
            <li>
                {{#if type}}
                    <pre>{{type}}</pre>
                {{/if}}

                {{#if isOptional}}
                    <label class="optional">[{{name}}]
                {{else}}
                    <label>{{name}}
                {{/if}}

                {{#if defaultValue}}
                    ={{defaultValue}}
                {{/if}}
                </label>

                {{#if description}}
                    <span class="description">{{{description}}}</span>
                {{/if}}
            </li>
        {{/each}}
        </ul>
    {{/if}}

    {{#if return}}
        <div class="return">
            Returns 
            {{#if return.type}}
                <pre>{{return.type}}</pre>
            {{/if}}
            {{#if return.description}}
                <span class="description">{{{description}}}</span>
            {{/if}}
        </div>
    {{/if}}

    {{#if text}}
        <span class="text">{{{text}}}</span>
    {{/if}}

    {{> examples}}
    {{> samples}}
</div>
