<section id="{{{hash}}}" class="box box-function">
    <h1 class="fw-300">
    {{~#if isConstructor~}}
        {{~parent.name~}}
    {{~else~}}
        {{~#ifvalue parent.kind value="class"~}}
            .{{~name~}}
        {{~else~}}
            .{{~name~}}
        {{~/ifvalue~}}
    {{~/if~}}
    ({{#foreach params}}{{#if isFirstLevel}}{{#if isOptional}}[{{/if}}{{name}}{{#if isOptional}}]{{/if}}{{#unless $last}}, {{/unless}}{{/if}}{{/foreach}}) 
    {{#if isConstructor~}}
        <i>constructor</i>
    {{~else~}}
        {{~#ifvalue parent.kind value="class"~}}
            <i>method</i>
        {{~else~}}
            <i>function</i>
        {{~/ifvalue~}}
    {{~/if~}}
    </h1>
    {{~#if params}}
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        {{~#foreach params}}
        {{~#if isFirstLevel~}}
        <li class="prop">
        {{~#if isOptional~}}[{{~/if~}}
        {{~name~}}
        {{~#if isOptional~}}]{{~/if~}}
        </li>
        {{~/if~}}
        {{~/foreach}}
    </ul>
    {{~/if}}

    {{~#if text~}}
        <p class="text">{{{stripP text}}}</p>
    {{~/if~}}

    {{~#if params.length}}
        <h3>Accepts</h3>
        
        <ul class="params">
        {{~#each params}}
            <li class="level{{~countLevel name~}}">
                {{~#if isOptional~}}
                <p>
                    <span class="monospace">[{{~name}}]</span>
                    {{else~}}
                    <span class="monospace">{{~name}}</span>
                    {{~/if}}
                    
                    <!--<li class="level{{~countLevel name~}}">-->
                    {{~#if type~}}
                    <span class="ink-label orange">{{type}}</span> 
                    {{~/if~}}
                </p>
                {{#if defaultValue~}}
                    {{~defaultValue~}}
                {{~/if~}}
                <!--</label>-->
                {{#if description~}}
                    {{~{description}~}}
                {{~/if~}}
            </li>
        {{~/each}}
        </ul>
    {{~/if~}}
    {{~#if return}}
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p>{{~#if return.type}}<code>{{~return.type~}}</code>{{~/if~}}</p>
        
            {{~#if return.description~}}
                {{~{return.description}~}}
            {{~/if}}
        </li>
    </ul>
    {{/if~}}

    {{~> examples~}}
    {{~> samples~}}
</section>