<section class="box box-function">

    <h1 class="fw-300">
    {{#if isConstructor}}
        {{parent.name}}
    {{else}}
        {{#ifvalue parent.kind value="class"}}
            {{parent.name}}.{{name}}
        {{else}}
            {{parent.name}}.{{name}}
        {{/ifvalue}}
    {{/if}}
    ({{#foreach params}}{{#if isFirstLevel}}{{#if isOptional}}[{{/if}}{{name}}{{#if isOptional}}]{{/if}}{{#unless $last}}, {{/unless}}{{/if}}{{/foreach}})
    {{#if isConstructor}}
        <i>constructor</i>
    {{else}}
        {{#ifvalue parent.kind value="class"}}
            <i>method</i>
        {{else}}
            <i>function</i>
        {{/ifvalue}}
    {{/if}}
    </h1>

    {{#if async}}
        <span class="tag">async</span>
    {{/if}}
    {{#if deprecated}}
        <span class="tag">deprecated</span>
    {{/if}}

    {{#if text}}
        <p class="text">{{{text}}}</p>
    {{/if}}

    {{#if params.length}}
        <h3>Accepts</h3>
        <dl class="params">
        {{#each params}}
            <dt>
                {{#if type}}
                    <code>{{type}}</code>
                {{/if}}
            </dt>
            <dd>
                {{#if isOptional}}
                    <label class="optional">[{{name}}]
                {{else}}
                    <label>{{name}}
                {{/if}}

                {{#if defaultValue}}
                    ={{defaultValue}}
                {{/if}}
                </label>
            
            
                {{#if description}}
                    <span class="description">{{{description}}}</span>
                {{/if}}
            </dd>
        {{/each}}
        </dl>
        {{#if return}}
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                {{#if return.type}}<code>{{return.type}}</code>{{/if}}
            </dt>                
            <dd>   
                {{#if return.description}}
                    {{{description}}}
                {{/if}}
            </dd>
        </dl>
        {{/if}}
        

    {{/if}}


    {{> examples}}
    {{> samples}}
</section>