{{#file hash}}

    {{#if name}}
        <section>
        <h1 class="fw-300">{{name}} {{#if version}}<small>version: {{version}}</small>{{/if}}</h1>
    {{/if}}



    {{#if uses}}
        <ul class="props inline">
            <li class="heading">Uses:</li>
            {{#each uses}}
            <li class="prop">{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}

    {{#if text}}
        <p class="text">{{{text}}}</p>
    {{/if}}

    {{> examples}}
    {{> samples}}

    {{#if functions.length}}
        <h2>Defined functions:</h2>
        <ul class="unstyled">
        {{#each functions}}
            <li><a href="#{{{hash}}}">
            {{#if isConstructor}}
                {{parent.name}}
            {{else}}
                {{parent.name}}.{{name}}
            {{/if}}
            ({{#foreach params}}{{#if isFirstLevel}}{{#if isOptional}}[{{/if}}{{name}}{{#if isOptional}}]{{/if}}{{#unless $last}}, {{/unless}}{{/if}}{{/foreach}})</a></li>
        {{/each}}
        </ul>
    {{/if}}

    {{#if attributes.length}}
        <h2>Defined attributes:</h2>
        <ul class="unstyled">
        {{#each attributes}}
            <li><a href="#{{{hash}}}">{{name}}</a></li>
        {{/each}}
        </ul>
    {{/if}}



    {{#each classes}}
        {{> class}}
    {{/each}}

    {{#each functions}}
        {{> function}}
    {{/each}}

    {{#each attributes}}
        {{> attribute}}
    {{/each}}

{{/file}}
